---
import PostSummary from "./summary.astro";
const { posts, localePrefix = "", dateLocale } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-3 gap-8 py-8">
  {posts.map((post, i) => (
    <PostSummary
      {...post}
      key={i}
      loading="eager"
      localePrefix={localePrefix}
      dateLocale={dateLocale}
    />
  ))}
</div>
